/* share style */
body{
    font-family: 'Open Sans', sans-serif;
}

/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
 
    font-family: Open Sans;
    font-size: 45px;

    font-weight: 800;
    
}
.text-primary{
    color:#FD6E0A;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
   
}
nav a{
    text-decoration: none;
    color:rgb(51, 42, 42);
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    padding: 5px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}